*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
.container{
    width: 1120px;
    margin: auto;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
#header{
    height: 100px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    display: flex;
    align-items: center;
}
#header span{
   cursor: pointer;
    border-radius: 50%;
    background-color: #16a085;
    padding: 18px;
    color: white;
    font-size: 15px;
}
#sideBar{
    width: 0;
    background-color: #00030363;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transition: 0.5s;
}
#sideBar.active{
    /* opacity: 0; */
    width: 100%;
}
#sideBar .menu{
    width: 80%;
    /* transform: translatex(-100px); */
    max-width: 350px;
    background-color: #badc58   ;
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#sideBar .menu ul li{
    padding: 20px;
}
#sideBar .menu ul li a{
    transform: translatex(-50px);
    padding: 30px;
    display: flex;
    font-size: 20px;
    border: 1px solid;
    color: black;
    padding: 14px;
    text-transform: capitalize;
   border-radius: 20px;
  text-align: center;
  transition: 0.4s;
}
#sideBar .menu ul li a:hover{
    background-color: #f6e58d;
    color: black;
    padding: 22px;
    font-weight: 600;

    
}
#sideBar .cross{
    background-color: #6ab04c;
    position: absolute;
    padding: 12px;
    border-radius: 30%;
    top: 30px;
    right: 30px;
    color: white;
    cursor: pointer;
}